In [17]:
import pandas as pd
import plotly.express as px
import pymongo

In [18]:
cars_df = pd.read_csv('cars.csv')

In [19]:
customers_df = pd.read_csv('customers.csv')
drivers_df = pd.read_csv('drivers.csv')
drop_df = pd.read_csv('drop.csv')

In [20]:
cars_df.head()

   Unnamed: 0  _id location_name       lon        lat       type  available
0           0    0        Seynod  6.099278  45.888040  HATCHBACK          1
1           1    1       Rumilly  5.942568  45.867216  HATCHBACK          1
2           2    2    Sallanches  6.630255  45.936125      SEDAN          1
3           3    3        Cluses  6.580422  46.060317  HATCHBACK          1
4           4    4     Annemasse  6.234109  46.193401        SUV          1

In [22]:
cars_df = cars_df.drop(columns=['Unnamed: 0', '_id', 'type', 'available'])

In [35]:
cars_df = cars_df.rename(columns={'location_name':'_id'})

In [36]:
cars_df.head()

          _id       lon        lat
0      Seynod  6.099278  45.888040
1     Rumilly  5.942568  45.867216
2  Sallanches  6.630255  45.936125
3      Cluses  6.580422  46.060317
4   Annemasse  6.234109  46.193401

In [26]:
customers_df = customers_df.drop(columns=['Unnamed: 0', 'searching'])

In [29]:
drivers_df = drivers_df.drop(columns=['Unnamed: 0', 'available', 'rating'])

In [31]:
drop_df = drop_df.drop(columns=['Unnamed: 0', '_id'])

In [37]:
drop_df = drop_df.rename(columns={'location_name':'_id'})

In [38]:
drop_df.head()

                     _id       lon        lat
0  Menthon-Saint-Bernard  6.196119  45.859788
1              Talloires  6.214963  45.839501
2               Lathuile  6.205418  45.782876
3               La Muraz  6.206389  46.124167
4              Le Sappey  6.166667  46.089444

In [44]:
drivers_df.shape

(73, 3)

In [46]:
full_df = pd.concat([cars_df, customers_df, drivers_df, drop_df])

In [49]:
full_df.head()

          _id       lon        lat
0      Seynod  6.099278  45.888040
1     Rumilly  5.942568  45.867216
2  Sallanches  6.630255  45.936125
3      Cluses  6.580422  46.060317
4   Annemasse  6.234109  46.193401

In [66]:
full_df.loc[full_df['_id'].isin([6133741255, 'Metz-Tessy', 'Vinzier', 6227049953])]

            _id       lon        lat
74   Metz-Tessy  6.106275  45.939038
350  6133741255  6.108033  45.936331
46   6227049953  6.107423  45.907006
146     Vinzier  6.619231  46.351012

In [65]:
['6133741255', 'Metz-Tessy', 'Vinzier', '6227049953']

['6133741255', 'Metz-Tessy', 'Vinzier', '6227049953']

In [71]:

fig = px.scatter_mapbox(
    full_df.loc[full_df['_id'].isin([6133741255, 'Metz-Tessy', 'Vinzier', 6227049953])],  # Our DataFrame
    lat = "lat",
    lon = "lon",
    center = {"lat": 45.9363312, "lon": 6.1080329},  # where map will be centered
    width = 600,  # Width of map
    height = 600,  # Height of map
    color = ['Vehicle', 'customer', 'Driver', 'Destination'],
    size = [5,5,5,5],
    hover_data = ["_id"]  # what to display when hovering mouse over coordinate
)

fig.update_layout(mapbox_style="open-street-map") # adding beautiful street layout to map

fig.show()